<div class="container-comment">
  <h3 class="header">评论</h3>
  <% if (user) { %>
    <form class="form" method="post" action="/comments">
      <input name="post_id" value="<%= post._id %>" hidden>
      <div class="comment-wrap" >
        <a class="user-avatar" href="#">
          <img src="/img/<%= user.avatar %>" alt="" />
        </a>
        <div class="textarea-wrap">
          <textarea placeholder="评论内容" name="content" cols="30" rows="10"></textarea>
        </div>
      </div>
      <input type="submit" class="sub-btn" value="提交评论" />
    </form>
  <% } %>

  <div class="comment-list">
    <% comments.forEach(function (comment) { %>
      <div class="comment-item">
        <a href="/users?author=<%= comment.author._id %>" class="replyer-avatar">
          <img src="/img/<%= comment.author.avatar %>">
        </a>
        <div class="detail">
          <div class="metadata">
            <a class="replyer-name" href="/users?author=<%= comment.author._id %>"><%= comment.author.name %></a>
            <span class="date"><%= comment.created_at %></span>
            <% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
              <a class="del" href="/comments/<%= comment._id %>/remove">删除</a>
            <% } %>
          </div>
          <div class="comment-text"><%- comment.content %></div>
          <!-- 回复评论列表 -->
          <div class="reply-wrap">
            <a class="reply-btn" id="replyBtn" data-toggle="collapse" href="#collapseReply" data-replyId="<%= comment._id %>" data-replyType="comment" data-toUid="<%= comment.author._id %>" data-toName="<%= comment.author.name %>" ><%= comment.replyCount %>条评论</a>
            <div class="reply-list collapse" id="collapseReply" >
              <%
                if( comment.replies && comment.replies.length > 0 ) {
                  comment.replies.forEach(function (reply) {
              %>
                  <dl class="reply-item">
                    <dt>
                      <a href="/users?author=<%= reply.from_uid._id %>"><%= reply.from_uid.name %></a>
                      <% if(reply.to_uid._id.toString() != comment.author._id.toString() ) { %>
                        回复<a href="/users?author=<%= reply.to_uid._id %>"><%= reply.to_uid.name %></a>:
                      <% } %>
                    </dt>
                    <dd>
                      <%= reply.content %>
                      <a href="javascript:void(0);" class="sub-reply-btn" id="subReplyBtn" data-replyId="<%= reply._id %>" data-replyType="reply"  data-toUid="<%= reply.from_uid._id %>" data-toName="<%= reply.from_uid.name %>" >回复</a>
                    </dd>
                  </dl>
              <%
                 })
                }
              %>
              <% if(user) { %>
                <form method="post" class="form reply-form" action="/comments/reply">
                  <input type="hidden" value="<%= comment._id %>" name="comment_id" >
                  <input type="hidden" value="<%= comment._id %>" name="reply_id" id="replyId" >
                  <input type="hidden" name="from_uid" value="<%= user._id %>" >
                  <input type="hidden" name="to_uid" value="<%= comment.author._id %>" id="toUid" >
                  <input type="hidden" name="reply_type" value="comment"  id="replyType">  <!-- [comment | reply] -->
                  <textarea type="text" name="content" placeholder="回复" id="replyIpt" ></textarea>
                  <input type="submit" class="sub-btn" value="提交" />
                </form>
              <% } %>
            </div>
          </div>
          <!-- 回复评论列表end -->
        </div>
      </div>
    <% }) %>
  </div>


</div>
<script>
// 设置回复类型，是对评论回复，还是对评论的评论回复
$(function() {

  $('#replyBtn,#subReplyBtn').click(function() {
    var toUid = $(this).attr('data-toUid'),
        replyType = $(this).attr('data-replyType'),
        toName = $(this).attr('data-toName'),
        replyId = $(this).attr('data-replyId');
    $('#toUid').val(toUid);
    $('#replyId').val(replyId);
    $('#replyType').val(replyType);
    $('#replyIpt').attr('placeholder','回复:'+toName);
  });

})
</script>

<!-- 文章评论回复replies: [
{ _id: 5a2e421de23053219c2710f0,
from_uid: 5a268a6da200260bacbc0a7f,
comment_id: 5a28f41438308027a0f558b4,
reply_id: 5a28f41438308027a0f558b4,
reply_type: 'comment',
content: '评论回复测试',
toUid: 5a268a6da200260bacbc0a7f } ] -->
