<div class="post-item">
  <div class="media">
    <div class="media-left">
      <a
        href="/posts?author=<%= post.author._id %>"
        data-name="<%= post.author.name %>"
        data-content="<%= post.author.bio %>"
        data-gender="<%= ({m: '男', f: '女', x: '保密'})[post.author.gender] %>"
      >
        <img class="img-circle" src="/img/<%= post.author.avatar %>" alt="...">
      </a>
    </div>
    <div class="media-body">
      <p class="author-info">
        <a class="name" href="/posts?author=<%= post.author._id %>"><%= post.author.name %></a>
        <span><%= post.created_at %></span>
      </p>
      <a class="title" href="/posts/<%= post._id %>"><%= post.title %></a>
      <span>阅读(<%= post.pv || 0 %>)</span>
      <span>评论(<%= post.commentsCount || 0 %>)</span>
    </div>
  </div>
</div>




