<%- include('header') %>

<!-- <%- include('components/post-content') %> -->
<div class="media">
  <div class="media-left media-middle">
    <a href="/posts?author=<%= post.author._id %>" >
      <img class="img-circle" src="/img/<%= post.author.avatar %>" alt="...">
    </a>
  </div>
  <div class="media-body">
    <span class="name"><%= post.author.name %></span>
    <span>阅读(<%= post.pv || 0 %>)</span>
    <span>评论(<%= post.commentsCount || 0 %>)</span>
  </div>
</div>

<% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
  <div class="ui inline dropdown">
    <div class="text"></div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item"><a href="/posts/<%= post._id %>/edit">编辑</a></div>
      <div class="item"><a href="/posts/<%= post._id %>/remove">删除</a></div>
    </div>
  </div>
<% } %>

<div class="container">
  <h2 class="title"><%= post.title %></h2>
  <div class="content">
    <%- post.content %>
  </div>
</div>

<%- include('components/comments') %>

<%- include('footer') %>
